// Colors

$main-bgColor: #fff;
$main-color: #000;

$border-color: #dddddd;
$p-clr-header: #ff385c;
$m-btn-color: #222222;
// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 740px;
$normal-breakpoint: 1350px;