.app-header {
    display: flex;
    height: 80px;
    padding: 0 40px 0 40px;
    border-bottom: 1px solid $border-color;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: $main-bgColor;

    .logo-container {
        display: flex;
        gap: 5px;
        flex: 1 0 140px;

        img {
            width: 50px;

        }

        .brand-name {
            display: none;

            @include for-wide-layout {
                display: block;
                padding-top: 10px;
            }
        }
    }

    .user-menu {
        display: flex;
        justify-content: end;
        flex: 1 0;
    }

    .menu-container {
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 25px;
        background-color: $main-bgColor;
        border: 1px solid $border-color;
        height: rem(42px);
        width: rem(77px);

        &:hover {
            @include hover-shadow;
        }
    }

}

.btn-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 400px;
    min-width: 200px;
    height: rem(48px);
    border-radius: 25px;
    border: 1px solid $border-color;
    cursor: pointer;
    // flex: 0 1;
    transition: 0.3s;
    padding: 0 24px;

    button {
        background-color: $main-bgColor;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        min-width: 30px;
        flex-grow: 1;
    }

    .add-guest-container {
        display: flex;
        align-items: center;
        gap: 20px;
        height: rem(32px);
        padding: 0;
        margin-inline-start: 15px;
    }

    &:hover {
        @include hover-shadow;
    }
}