.app-footer {
    height: rem(67px);
    background-color: $main-bgColor ;
    position: sticky;
    bottom: 0;
    border-top: 1px solid $border-color;
}

.map-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .show-map-btn {
        position: fixed;
        z-index: 10;
        bottom: 110px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: rem(132.5px);
        height: rem(48px);
        color: $main-bgColor;
        font-size: rem(14px);
        border-radius: 25px;
        background-color: $m-btn-color;

        &:hover {
            transform: scale(105%);
        }
    }
}