.app-header {
    display: flex;
    height: 80px;
    padding: 0 40px 0 40px;
    border-bottom: 1px solid $border-color;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;

    .logo-container {
        display: flex;
        gap: 5px;

        .brand-name {
            display: none;

            @include for-wide-layout {
                display: block;
                padding-top: 10px;
            }
        }
    }

    .menu-container {
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 25px;
        background-color: $main-bgColor;
        border: 1px solid $border-color;
        height: rem(42px);
        width: rem(77px);

        &:hover {
            @include hover-shadow;
        }
    }

}

.btn-container {
    display: flex;
    align-items: center;
    flex-grow: 1 1;
    height: rem(48px);
    border-radius: 25px;
    border: 1px solid $border-color;
    cursor: pointer;
    transition: 0.3s;

    button {

        background-color: $main-bgColor;
    }

    .add-guest-container {
        display: flex;
        height: rem(32px);
    }

    &:hover {
        @include hover-shadow;
    }
}