* {
  box-sizing: border-box;
}

html {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.5;
  color: $main-color;
  background-color: $main-bgColor;
}

body {
  font-size: rem(18px);
  margin: 0;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.6em;
  line-height: 1;
}

img {
  width: 100%;
}

p {
  margin: 0 0 0.6em;
}

a {
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    opacity: 0.7;
  }
}

button {
  border: 0;
  color: whitesmoke;
  padding: 5px 10px;
  margin: 5px;
  transition: 0.3s;
  color: rgb(65, 62, 62);
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.app {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  .app-main-container {
    flex-grow: 1;

    // max-width: 1500px;
    margin: 0;
    padding: 0;

  }
}

.app-main-container {
  // background-color: #fff;
}