.place-preview {
    font-family: roboto;

    .img-container {

        .preview-img {
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    .place-price {
        span {
            font-weight: 700;
        }
    }
}