.place-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 24px;
    padding: 0 24px;

    @media (min-width: $narrow-breakpoint) {
        padding: 0 40px;
    }

    @media (min-width: $normal-breakpoint) {
        padding: 0 80px;
    }
}