.place-filter {
    border-bottom: 1px solid $border-color;
    padding: 0 24px;
    box-shadow: rgba(0, 0, 0, 0.098) 1px 1px 3px 0.5px;
    
   

    @media (min-width: $narrow-breakpoint) {
        padding: 0 40px;
    }

    @media (min-width: $normal-breakpoint) {
        padding: 0 80px;
    }

    

    position: sticky;
    background-color: $main-bgColor;
    display: flex;
    top: 80px;

    .carousel-container{
        width: 92%;
    }
    .filters-container {
        display: flex;
        gap: 3rem;
        align-items: center;
        overflow-x: auto;
        &::-webkit-scrollbar {
            display: none;
        }
        
    }
    .filter-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        color: rgb(132, 132, 132);
        padding: 1rem 0;
        cursor: pointer;
        border-bottom: 2px solid $main-bgColor;

        &:hover {
            color: black;
            border-bottom: 2px solid lightgray;
        }
    }
    
    .filter-icon {
        font-size: 1.8rem;
    }

    .filter-txt {
        font-size: 0.8rem;
        width: max-content;
    }

    .filter-btn{
        display: flex;
        align-self: center;
        background-color: inherit;
        border: 1px solid lightgray;
        border-radius: 12px;
        padding: 0.9rem 1.3rem;
        margin-left: 20px;
        color: black;
    }
}